body{
    margin:0;
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.page{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.card{

    width:700px;

    background:white;

    padding:40px;

    border-radius:12px;

    box-shadow:0 8px 20px rgba(0,0,0,.1);

}